<h1> spaces
</h1>
<% @spaces.each do |space| %>
<%= space.name %>
<%= space.price %>
<%= space.address %>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
